#game-container {
    position: relative;
    width: 640px;
    height: 480px;
    background-color: skyblue;
    overflow: hidden;
}

#bird {
    position: absolute;
    background: url('bird.gif') no-repeat center center; 
    background-size: contain;
    width: 50px;  /* updated based on .gif size */
    height: 50px;  /* updated based on .gif size */
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.pipe {
    position: absolute;
    width: 80px;
    height: 300px;
    background-color: green;
}

#score-container {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#game-over-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    font-family:'Arial', sans-serif;
    font-weight: bold;
    color: red;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px black;
}